<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer class="container-fluid p-4" style="position:fixed;bottom: 0;left: 0;right: 0;background-color: white;">

        <div class="d-lg-flex justify-content-between">
              <h5>© 2023 Airbnb, Inc</h5>
              <h5><a href="/" style="text-decoration: none;color: gray;">Privacy</a></h5>
              <h5><a href="/" style="text-decoration: none;color: gray;">Terms</a></h5>
              <h5><a href="/" style="text-decoration: none;color: gray;">Sitemap</a></h5>
              <h5><a href="/" style="text-decoration: none;color: gray;">Company details</a></h5>
              <h5><a href="/" style="text-decoration: none;color: gray;">Destinations</a></h5>
        </div>

  </footer>
</body>
</html>