<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script> 
</head>
<body style="background-image: url(https://png.pngtree.com/background/20210716/original/pngtree-abstract-crystal-background-texure-design-in-gradient-red-color-picture-image_1391214.jpg);">

     <!--Login Form Box-->
    <div style=" border: 1px solid black;border-radius: 20px; padding: 50px; width: 30%;height: 450px;margin-top: 160px;margin-left: 500px; padding-left: 100px;padding-top: 100px;background-color: white;"> 

        <!--Login Form-->
       <form action="/Hostlogin" method="POST">

                <!--Name-->
                <input type="text" name="Email" id="" placeholder="Email" class="border border-2 rounded-pill" required><br><br>

                <!--Passwod-->
                <input type="password" name="Password" id="" placeholder="Password" class="border border-2 rounded-pill" required><br><br>
      
                <!--Submit Button-->
                <button type="submit" style="margin-top: 25px;" class="btn btn-dark ">Submit</button>

      </form>

             <!--Signup Link-->
             <div style="margin-top: 10px;font-size: larger;">

                    <a href="/signup">Signup</a>

            </div>


            


    </div>  
</body>
</html>